POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=postgres

POSTGRES_USER_TEST=postgres
POSTGRES_PASSWORD_TEST=postgres
POSTGRES_HOST_TEST=localhost
POSTGRES_DB_TEST=postgres
